.details {
    margin-left: 50px;
    max-width: 1000px;
    height: 100%;
}

.wrap {
    position: relative;
    height: 100%;
}

.tagline {
    margin-top: 20px;
    font-style: italic;
    color: #ccc;
}

.overview {
    margin-top: 20px;
}

.trailer, .favourite {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    transition: 0.1s;
    margin: 50px 10px 0;
}

.trailer:hover,
.favourite:hover {
    color: rgba(204, 204, 204, 0.766);
    scale: 1.01;
}

.trailer i,
.favourite i {
    margin-right: 10px;
}


.homepage {
    position: absolute;
    bottom: 0;
}

.homepage a {
    color: white;
}

@media only screen and (max-width: 1024px) {
    .details {
        margin-top: 20px;
        margin-left: 0px;
    }

    .homepage {
        position: relative;
        margin-top: 50px;
    }
}